extends layoutplayer

block content
  .row
    .col-sm-12
      h4 #{title}
      br
      video#vid1.video-js.vjs-default-skin(controls='', width='640', height='264', data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "#{url}" }] }')  
        p.vjs-no-js
          | To view this video please enable JavaScript, and consider upgrading to a web browser
          | that 
          a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
      br  
      h3 #{desc}  
      br
      p #{start} #{end} #{type} #{slug}

      form#formSubmitVideo(name="formsubmit",method="post",action="/insert")
        input#inputUrl(type="hidden", name="url", value="#{url}")
        input#inputVideoType(type="hidden", name="type_" value="#{type}")
        input#inputStart(type="hidden", name="start", value="#{start}")
        input#inputEnd(type="hidden", name="end", value="#{end}")
        input#inputTitle(type="hidden", name="title", value="#{title}")
        input#desc(type="hidden", name="desc", value="#{desc}")

        button.btn.btn-next.btn-fill.btn-danger.btn-wd#btnSubmit(type='submit', name='next')
          i.material-icons 
            get_app
          Publish
          .ripple-container 

      form#formSubmitVideo(name="formsubmit",method="post",action="/edit")
        input#inputUrl(type="hidden", name="url", value="#{url}")
        input#inputVideoType(type="hidden", name="type_" value="#{type}")
        input#inputStart(type="hidden", name="start", value="#{start}")
        input#inputEnd(type="hidden", name="end", value="#{end}")
        input#inputTitle(type="hidden", name="title", value="#{title}")
        input#desc(type="hidden", name="desc", value="#{desc}")

        button.btn.btn-next.btn-fill.btn-success.btn-wd#btnSubmit(type='submit', name='edit')  
          i.material-icons 
            mode_edit
          Edit
          .ripple-container
        


      a.btn.btn-next.btn-fill.btn-danger.btn-wd(href="" ) 
        i.fa.fa-youtube-play
          Preview        