extends layoutplayer1

block content
  .row
    .col-sm-12
      h4 #{title}
      br 

      #hiddenPlayer


      br  
      h3 #{desc}  
      br
      
  .row
    #time-range.col-sm-12.hide

      code.changes 
        i.material-icons schedule
        | Time Range:&nbsp;
        span.slider-time1
        &nbsp;  
        span.divider - 
        &nbsp;
        span.slider-time2
      br

      code.changes 
        i.material-icons history
        | Video Duration:&nbsp;          
        span.total#duration 
      br

      code.changes 
        i.material-icons slow_motion_video
        | Crop size:&nbsp;
        span#crop-size   
      br
      br

      h3 Change Start & End points:
      .sliders_step1(data-start="#{start}", data-end="#{end}", data-min="0", data-step="#{step}", data-edit="true")    
        #slider-range

        
    
      form#formSubmitVideo(name="formsubmit",method="post",action="/update")
        input#inputUrl(type="hidden", name="url", value="#{url}")        
        input#inputStart(type="hidden", name="start", value="#{start}")
        input#inputEnd(type="hidden", name="end", value="#{end}")
        input#inputTitle(type="hidden", name="title", value="#{title}")
        input#desc(type="hidden", name="desc", value="#{desc}")
        input#slug(type="hidden", name="slug", value="#{slug}")
        input#step(type="hidden", name="step", value="#{step}")
        input#id(type="hidden", name="id", value="#{id}")

        button.btn.btn-next.btn-fill.btn-success.btn-wd.pull-right#btnSubmit(type="submit") Update